# Direktori Build/Test
build/
releases/

# File Log
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Konfigurasi Google Apps Script (Opsional jika pakai Clasp)
.clasp.json

# Dependencies (Jika suatu saat menggunakan Node.js)
node_modules/
.pnp
.pnp.js

# Sistem Operasi
.DS_Store
Thumbs.db
Desktop.ini

# Editor / IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
